<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.espressif.espblufi">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.BlufiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.BlufiMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BlufiNegSecActivity"
            android:label="@string/neg_sec_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlufiConfigureActivity"
            android:label="@string/configure_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlufiBatchConfigureActivity"
            android:label="@string/batch_configure_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlufiDeauthenticateActivity"
            android:label="@string/deauthenticate_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlufiSettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>